// primary colors
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
$white: #ffffff;

// neutral colors
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// font weight
$fw-sm: 500;
$fw-md: 700;
$fw-lg: 900;
